<div align="center">
    <span class="dot text-info"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span>
</div>
<br>
<hr style="width: 60%;" align="center">
<br>
<div class="row">
    <div class="col">
        <p><strong>HTML / CSS</strong></p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 90%">
                90%
            </div>
        </div>
    </div>
    <div class="col">
        <p><strong>PHP / JAVASCRIPT / TYPESCRIPT</strong></p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 70%">
                70%
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <p><strong>IONIC / AUGULAR / REACT</strong></p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 60%">
                60%
            </div>
        </div>
    </div>
    <div class="col">
        <p><strong>PYTHON / DJANGO</strong></p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 60%">
                60%
            </div>
        </div>
    </div>
</div>
<br>
<div class="alert alert-info">
    <strong>Right now!</strong> Learn more about Flutter Vue.js and Laravel.
</div>