{% extends 'layout.html' %}

{% block content %}

<h4>ลงทะเบียน</h4>
<hr align="left" style="max-width: 10%; border: 1px solid black;">
<br>
<table class="table">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
